#home-bg {
    background-color: var(--color-main);
    /*
    height: 100vh;
    margin: 0;
    padding: .01rem; /*TODO: RESOLVE LATER */ 
    /*
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    */
    
}
