/* .biggestHeader {
    font-size: 16
} */

#home-bg {
    background-color: var(--color-main);
    height: 100vh;
    margin: 0;
    padding: .01rem; /* TODO: RESOLVE LATER */
    width: 100%;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
    /* scroll-snap-type: y proximity; */
    scroll-behavior: smooth;
}

h1 {
    font-size: 5em;
    color: white;
    /* background-color: orange; */
    margin: 0rem;
}

h2 {
    font-size: 5em;
    color: white; 
    margin: 0rem;
}
h3 {
    font-size: 2em;
    color: white; 
    margin: 0rem;
}
p {
    font-size: 1.5em;
    color: white;
    margin: 0rem;

}

section {
    height: 100vh;
    scroll-snap-align: start;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.socials-container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    margin-left: -1vw;
}

.socials-container img {     
  height: auto;        
  margin: 0 8px;     
  transition: opacity 0.3s ease;
}

#github-logo {
    width: 38px;

}

#linkedin-logo {
    width: 33px;    
    margin-top: 2px;

}

/* .socials-container img:hover {
  opacity: 0.7;       
} */

.social-link:hover {
    opacity: 0.7;
    filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}

/******* SHAPES *******/
.shapes {
    height: auto;
    width: auto;
    display: grid;
    gap: 2rem 1rem;
    /* background-color: black; */
    padding-right: 5%;
    padding-bottom: 5vh;
}

.left-shape {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-shape {
    grid-column-start: 2;
    grid-column-end: 3;
}

.pentagon {
    transform: rotate(4deg);

    margin-top: 0vh;
    margin-left: 5vh;
}

.star {
    transform: rotate(10deg);
    margin-top: 14vh;
    margin-left: 0vh;
}

.square {
    transform: rotate(-25deg);
    margin-top: -7vh;
    margin-left: 1vh;
}

.circle {
    transform: rotate(0deg);
    margin-top: 7vh;
    margin-left: -1vh;
}

.triangle {
    transform: rotate(20deg);
    margin-top: -16vh;
    margin-left: 3.5vh;
}

/******* MAIN SECTION *******/
#main-section {
    padding-left: 4rem;
    padding-right: 2rem;
    /* background-color: red; */
    display: flex;
    position: relative;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; */
}

#main-section .content-container {
    display: flex;
    /* background-color: green; */
    flex-direction: row;
    /* height: 80%; */
    width: auto;
    /* bottom: 0; */
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 5rem;
}

#main-section .text-group {
    /* background-color: blue; */
    width: 60%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;
    padding-bottom: 5rem;
}

#main-section h1 {
   min-width:90%;
   max-width:80%; /* TODO: RESOLVE LATER? */
}
/* #main-section p {
    
    background-color: green;
} */

/******* ABOUT SECTION *******/
#about-section {
    /* background-color: orange; */
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    /* position: relative; */
}

#about-section .content-container {
    display: flex;
    /* background-color: green; */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    padding-top: 3rem;
    padding-right: 2rem;
    /* position: absolute;
    bottom: 5rem; */
}

#about-section .text-group {
    width: 60%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    margin-top: 2rem;
    padding-bottom: 5rem;
    /* background-color: red; */
}

#about-section p {
    margin-top: 2rem;
}

#about-section .shapes {
    transform: rotate(180deg);
    margin-right: 4rem;
}

#about-section .star {
    transform: rotate(20deg);
}
#about-section .pentagon {
    transform: rotate(10deg);

}

#about-section .square {
    transform: rotate(-15deg);
}



/******* STACK SECTION *******/
/* TODO: RESOLVE ISSUE WHERE SCROLLING TO BOTTOM PUSHES SCROLL UPWARD */
#stack-section { 
    /* background-color: red; */
    /* padding-left: 4rem;
    padding-right: 2rem; */
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    margin-top: 10rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
}


#stack-section .content-container {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: auto; */
    /* padding-top: 3rem; */
    /* padding: 2rem; */
    padding-top: 4rem;
    /* position: absolute;
    bottom: 5rem; */
}

#stacks-container {
    /* background-color: blue; */
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.stack {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.stackOdd {
    justify-content: flex-start;
}

.stackEven {
    justify-content: flex-end;
    /* background-color: blue; */
}

.shape-container {
    /* background-color: blue; */
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.stackOdd .shape-container {
    padding-right: 2rem;
}

.stack .star {
    transform: rotate(-10deg);
    margin-top: 0vh;
    margin-left: 0vh;
}

.stack .circle {
    transform: rotate(0deg);
    margin-top: 0vh;
    margin-left: 0vh;
}

.stack .triangle {
    transform: rotate(-20deg);
    margin-top: 0vh;
    margin-left: -2vh;
}

.stack .square {
    transform: rotate(25deg);
    margin-top: 1vh;
    margin-left: 0vh;
}

.stack .pentagon {
    transform: rotate(4deg);
    margin-top: 0vh;
    margin-left: 0vh;
}

/* .stack-main-content {
    background-color: orange;
} */

.stack h3 {
    padding: 2rem;
}
.stack-list {
    /* background-color: purple; */
    padding: 2rem;
}

/* #frontend-container {
    background-color: gray;
}

#backend-container {
    background-color: black;
}

#database-container {
    background-color: gray;
}

#design-container {
    background-color: black;
}

#tools-container {
    background-color: gray;
} */

#frontend-container h3 {
    /* background-color: gray; */
    color: var(--color-main-yellow)
}

#backend-container h3 {
    /* background-color: black; */
    color: var(--color-main-green)
}

#database-container h3 {
    /* background-color: gray; */
    color: var(--color-main-pink)
}


#tools-container h3 {
    /* background-color: gray; */
    color: var(--color-main-red);
} 

#tools-container .stack-list {
    justify-content: flex-end;

}

#design-container h3 {
    /* background-color: black; */
    color: var(--color-main-blue);
    white-space: nowrap;
}


.last-section {
    margin-top: 5rem;
    height: auto;
    min-height: 100vh;
    scroll-snap-align: start;
}

.stack-list {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    /* background-color: purple; */
}


.logo-and-text-container {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.stack-logo {
    width: 40px;
    height: auto;
    margin-right: 1rem;
}

.logo-text {
    color: white;
    font-size: 1.5rem;
}

